<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WSKCons.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <appSettings>
    <!-- End Point URL
    Cert:      <add key="wskEndPoint" value="wskcert-www.lexisnexis.com"/>
    PreProd:   <add key="wskEndPoint" value="ppc0.lexisnexis.com"/> //P4388P8W password
    Prod:      <add key="wskEndPoint" value="www.lexisnexis.com"/> //change to production enviroment
     -->
    <add key="wskEndPoint" value="www.lexisnexis.com"/>
    <!-- Wsk Authentication - Enter your WSK id/password. Note the developer site id/pwd will
                              only work with the cert endpoint -->
    <add key="wskID" value="DUFUQUASCHOOL3" />
    <add key="wskPassword" value="BG8LN77F" /> 
    <add key="wskNamespace" value="" />
    <!-- EndUser Authentication - Enter both your WSK credentials with administrator privilages 
                                  and the LexisNexis product end user credentials.
                                  The endUser product can be Nexis, Lexis or Dossier -->
    <add key="wskIDAdmin" value="" />
    <add key="wskPasswordAdmin" value="" />
    <add key="wskNamespaceAdmin" value="" />
    <add key="endUserID" value="" />
    <add key="endUserPassword" value="" />
    <add key="endUserProduct" value="Nexis" />
    <!-- Authenticate Location Namespace - IP authenticated account required -->
    <add key="locationNamespace" value="UK" />
    <!--Dossier Authentication - Enter your LexisNexis Dossier credentials -->
    <add key="wskIDDossier" value="" />
    <add key="wskPasswordDossier" value="" />
    <add key="wskNamespaceDossier" value="" />
  </appSettings>
 </configuration>